.card {
  margin-bottom: 18px;
  border: none;

  a {
    width: 100%;

    .card-img {
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      color: #fff;
      object-fit: cover;
      height: 300px;

      span {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .card-img__icon {
        position: absolute;
        top: 16px;
        right: 20px;
        font-size: 25px;
        color: #fff;
      }
    }

    .card-info {
      padding: 10px 0;

      .card-title {
        margin: 0;

        h4 {
          @include text($text-base, $text-semibold);
          margin-bottom: 0;
        }
      }

      p {
        @include text($text-base, $text-light, $text-c1-gray);
        margin-bottom: 5px;
      }
    }
  }
}
